footer {
  background-color: #000;
  padding: 25px 0;
  color: #fff;
  font-size: 16px;
}

.divider {
  border-top: 1px solid #fff;
}

.divider-sm {
  border-top: 1px solid #fff;
  width: 90%;
  margin-left: 5%;
}

.sub-footer {
  background-color: #000;
  padding: 15px 0;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  line-height: 30px;
}

.mat-expansion-panel-header-description {
  color: #fff;
}

.mat-accordion .mat-expansion-panel:last-of-type,
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background-color: #000;
  color: #fff;
}