nav {
  background-color: #fff;
  z-index: 1000;
}

h1 {
  font-size: calc(1.2em + 1.2vw);
}

.sub-navbar {
  background-color: #000;
  color: #fff;
  height: 52px;
  padding-top: 17px;
}

.log-in mat-icon {
  cursor: pointer;
}

p {
  cursor: pointer;
}