.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.toggle {
  position: absolute;
  top: 72px;
  left: 10%;
  z-index: 10;
}

@media (max-width: 768px) {
  .toggle {
    display: block;
  }
  .example-container {
    margin-top: -56px;
  }
}

@media (min-width: 769px) {
  .toggle {
    display: none;
  }

  
}
