.categories img {
  width: 100%;
}

mat-card {
  background-color: rgb(238, 238, 238);
}

.add-shipping {
  width: 100%;
  background-color: #000;
  color: #fff;
}

.price {
  color: rgb(116, 8, 218);
  font-size: 20px;
  font-weight: bold;
}

.price_original {
  font-size: 20px;
  color: rgb(168, 164, 164);
}
